@import 'tailwindcss';

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow:
        168px 331px #fff,
        735px 1430px #fff,
        666px 859px #fff,
        99px 510px #fff,
        948px 1237px #fff,
        91px 1776px #fff,
        1114px 14px #fff,
        1217px 1393px #fff,
        681px 1809px #fff,
        755px 86px #fff,
        1441px 1828px #fff,
        808px 30px #fff,
        1827px 464px #fff,
        906px 1579px #fff,
        1760px 1447px #fff,
        957px 369px #fff,
        215px 214px #fff,
        856px 1768px #fff,
        455px 593px #fff,
        963px 1054px #fff,
        1993px 1526px #fff,
        966px 1948px #fff,
        1906px 1px #fff,
        1896px 1191px #fff,
        882px 663px #fff,
        406px 682px #fff,
        751px 379px #fff,
        757px 1012px #fff,
        16px 1257px #fff,
        1878px 1619px #fff,
        1532px 865px #fff,
        1661px 806px #fff,
        978px 1953px #fff,
        843px 1728px #fff,
        371px 1840px #fff,
        1822px 205px #fff,
        366px 1176px #fff,
        381px 1242px #fff,
        1964px 1314px #fff,
        894px 817px #fff,
        1516px 378px #fff,
        1729px 1580px #fff,
        1811px 349px #fff,
        1863px 1801px #fff,
        898px 562px #fff,
        495px 1577px #fff,
        165px 765px #fff,
        1856px 240px #fff,
        1012px 1943px #fff,
        201px 1779px #fff,
        93px 501px #fff,
        455px 716px #fff,
        218px 1230px #fff,
        251px 563px #fff,
        496px 1608px #fff,
        140px 1237px #fff,
        1549px 1772px #fff,
        125px 1973px #fff,
        370px 778px #fff,
        651px 851px #fff,
        423px 1625px #fff,
        1305px 1518px #fff,
        1905px 1109px #fff,
        1232px 1103px #fff,
        964px 732px #fff,
        831px 1758px #fff,
        206px 1313px #fff,
        1829px 1639px #fff,
        1167px 1652px #fff,
        1533px 1826px #fff,
        1251px 289px #fff,
        1722px 1078px #fff,
        1158px 1300px #fff,
        1473px 882px #fff,
        1119px 643px #fff,
        772px 969px #fff,
        290px 1920px #fff,
        256px 11px #fff,
        649px 1332px #fff,
        635px 1131px #fff,
        1886px 5px #fff,
        1817px 399px #fff,
        496px 169px #fff,
        540px 1350px #fff,
        1684px 1252px #fff,
        717px 556px #fff,
        1337px 245px #fff,
        1312px 440px #fff,
        348px 1709px #fff,
        1792px 228px #fff,
        1806px 734px #fff,
        921px 1438px #fff,
        1200px 1698px #fff,
        1637px 1730px #fff,
        600px 266px #fff,
        201px 147px #fff,
        1117px 1555px #fff,
        188px 562px #fff,
        1928px 599px #fff,
        1720px 1700px #fff,
        1547px 1592px #fff,
        807px 202px #fff,
        361px 716px #fff,
        283px 235px #fff,
        820px 1998px #fff,
        1073px 1205px #fff,
        560px 1172px #fff,
        1856px 1324px #fff,
        1391px 1690px #fff,
        896px 948px #fff,
        1122px 1011px #fff,
        1974px 227px #fff,
        1947px 16px #fff,
        905px 188px #fff,
        969px 1383px #fff,
        1137px 858px #fff,
        1910px 1676px #fff,
        547px 1901px #fff,
        1530px 509px #fff,
        1107px 788px #fff,
        159px 573px #fff,
        1927px 944px #fff,
        1495px 1223px #fff,
        1469px 876px #fff,
        121px 905px #fff,
        1680px 955px #fff,
        371px 1270px #fff,
        1931px 828px #fff,
        1334px 1324px #fff,
        591px 1491px #fff,
        1736px 181px #fff,
        772px 651px #fff,
        1239px 1484px #fff,
        1745px 1716px #fff,
        1173px 249px #fff,
        1602px 668px #fff,
        1774px 160px #fff,
        643px 1251px #fff,
        1674px 1708px #fff,
        1637px 1934px #fff,
        1080px 1818px #fff,
        1324px 226px #fff,
        1299px 641px #fff,
        1583px 981px #fff,
        1514px 1962px #fff,
        645px 1472px #fff,
        614px 898px #fff,
        660px 294px #fff,
        1667px 1954px #fff,
        1682px 379px #fff,
        850px 632px #fff,
        1387px 905px #fff,
        913px 1892px #fff,
        770px 1121px #fff,
        1071px 1493px #fff,
        1648px 51px #fff,
        1410px 980px #fff,
        1639px 1012px #fff,
        1427px 346px #fff,
        544px 1284px #fff,
        525px 127px #fff,
        891px 1529px #fff,
        1782px 693px #fff,
        1996px 1225px #fff,
        288px 148px #fff,
        663px 871px #fff,
        1569px 360px #fff,
        800px 1932px #fff,
        670px 1830px #fff,
        1629px 1707px #fff,
        662px 1661px #fff,
        44px 452px #fff,
        1859px 1532px #fff,
        1293px 1111px #fff,
        1006px 120px #fff,
        1599px 986px #fff,
        1375px 612px #fff,
        1283px 835px #fff,
        158px 1265px #fff,
        1319px 1107px #fff,
        606px 404px #fff,
        153px 919px #fff,
        298px 1305px #fff,
        1421px 592px #fff,
        851px 954px #fff,
        521px 146px #fff,
        613px 1228px #fff,
        587px 1913px #fff,
        1583px 1132px #fff,
        1947px 1503px #fff,
        721px 6px #fff,
        782px 980px #fff,
        1112px 494px #fff,
        337px 58px #fff,
        900px 1854px #fff,
        1542px 736px #fff,
        517px 711px #fff,
        1594px 520px #fff,
        1211px 329px #fff,
        1779px 1874px #fff,
        1222px 1310px #fff,
        726px 1121px #fff,
        1782px 1122px #fff,
        190px 964px #fff,
        1674px 373px #fff,
        216px 188px #fff,
        1539px 866px #fff,
        298px 1656px #fff,
        1803px 282px #fff,
        591px 1445px #fff,
        1304px 1852px #fff,
        775px 1909px #fff,
        1488px 1573px #fff,
        1232px 670px #fff,
        908px 313px #fff,
        1447px 1635px #fff,
        75px 1440px #fff,
        688px 1368px #fff,
        1226px 1952px #fff,
        286px 1889px #fff,
        1394px 599px #fff,
        1336px 1186px #fff,
        84px 1999px #fff,
        417px 1226px #fff,
        1309px 1612px #fff,
        1455px 369px #fff,
        1533px 981px #fff,
        580px 621px #fff,
        1483px 1724px #fff,
        716px 1182px #fff,
        710px 442px #fff,
        1310px 1923px #fff,
        563px 1672px #fff,
        94px 145px #fff,
        1769px 1658px #fff,
        696px 503px #fff,
        570px 1204px #fff,
        1106px 681px #fff,
        1279px 568px #fff,
        1326px 1988px #fff,
        1px 971px #fff,
        1737px 785px #fff,
        1365px 120px #fff,
        239px 943px #fff,
        1126px 1674px #fff,
        1359px 904px #fff,
        1506px 1870px #fff,
        1448px 857px #fff,
        1270px 1992px #fff,
        1092px 1629px #fff,
        1479px 1678px #fff,
        1383px 259px #fff,
        604px 41px #fff,
        1604px 1513px #fff,
        1335px 1529px #fff,
        1835px 739px #fff,
        532px 641px #fff,
        1994px 138px #fff,
        1626px 1233px #fff,
        102px 1459px #fff,
        399px 432px #fff,
        1726px 763px #fff,
        192px 1315px #fff,
        1176px 580px #fff,
        1604px 1081px #fff,
        271px 607px #fff,
        285px 750px #fff,
        412px 20px #fff,
        1715px 1801px #fff,
        1473px 559px #fff,
        1934px 1116px #fff,
        1447px 466px #fff,
        266px 203px #fff,
        1419px 1508px #fff,
        70px 506px #fff,
        1378px 1155px #fff,
        983px 266px #fff,
        1796px 1168px #fff,
        1086px 1220px #fff,
        476px 165px #fff,
        458px 1044px #fff,
        1176px 820px #fff,
        600px 1529px #fff,
        1647px 1873px #fff,
        716px 831px #fff,
        487px 86px #fff,
        219px 1275px #fff,
        1204px 256px #fff,
        904px 1118px #fff,
        1955px 1673px #fff,
        1582px 89px #fff,
        329px 387px #fff,
        564px 996px #fff,
        1014px 1761px #fff,
        1815px 1063px #fff,
        761px 827px #fff,
        214px 205px #fff,
        1251px 1463px #fff,
        41px 1303px #fff,
        1011px 849px #fff,
        634px 1443px #fff,
        1949px 556px #fff,
        1842px 1134px #fff,
        556px 1334px #fff,
        872px 304px #fff,
        458px 192px #fff,
        1792px 14px #fff,
        954px 398px #fff,
        534px 485px #fff,
        388px 1865px #fff,
        1069px 399px #fff,
        1275px 1454px #fff,
        1817px 522px #fff,
        636px 654px #fff,
        1167px 1517px #fff,
        806px 1271px #fff,
        1323px 701px #fff,
        1857px 1084px #fff,
        1761px 530px #fff,
        283px 406px #fff,
        294px 536px #fff,
        1564px 1080px #fff,
        1080px 439px #fff,
        1134px 85px #fff,
        665px 899px #fff,
        288px 574px #fff,
        103px 1702px #fff,
        547px 1938px #fff,
        895px 1136px #fff,
        1870px 426px #fff,
        331px 1312px #fff,
        1326px 85px #fff,
        445px 773px #fff,
        1306px 223px #fff,
        453px 1844px #fff,
        2000px 1999px #fff,
        239px 221px #fff,
        925px 746px #fff,
        447px 1708px #fff,
        993px 898px #fff,
        1849px 1578px #fff,
        1658px 214px #fff,
        464px 1998px #fff,
        781px 235px #fff,
        597px 809px #fff,
        139px 810px #fff,
        1050px 373px #fff,
        1362px 612px #fff,
        1060px 1312px #fff,
        84px 572px #fff,
        1674px 1815px #fff,
        134px 1383px #fff,
        119px 437px #fff,
        1351px 790px #fff,
        590px 1525px #fff,
        1173px 1760px #fff,
        1871px 321px #fff,
        1287px 931px #fff,
        921px 733px #fff,
        152px 400px #fff,
        1889px 1622px #fff,
        664px 441px #fff,
        385px 1563px #fff,
        43px 888px #fff,
        1968px 631px #fff,
        1137px 1391px #fff,
        53px 855px #fff,
        1026px 1859px #fff,
        593px 540px #fff,
        1395px 1167px #fff,
        990px 1158px #fff,
        1606px 24px #fff,
        1807px 1909px #fff,
        938px 586px #fff,
        1836px 1660px #fff,
        1267px 515px #fff,
        1593px 1723px #fff,
        373px 857px #fff,
        550px 850px #fff,
        1381px 1221px #fff,
        1082px 859px #fff,
        1417px 1869px #fff,
        1781px 146px #fff,
        585px 487px #fff,
        685px 210px #fff,
        483px 1561px #fff,
        1679px 581px #fff,
        1110px 687px #fff,
        857px 1698px #fff,
        1064px 1753px #fff,
        1747px 1257px #fff,
        811px 125px #fff,
        1391px 1799px #fff,
        990px 984px #fff,
        1773px 808px #fff,
        1252px 897px #fff,
        735px 1903px #fff,
        1895px 248px #fff,
        119px 517px #fff,
        736px 196px #fff,
        1693px 1033px #fff,
        1713px 1561px #fff,
        934px 971px #fff,
        1721px 123px #fff,
        192px 494px #fff,
        445px 106px #fff,
        1546px 1766px #fff,
        862px 18px #fff,
        794px 516px #fff,
        91px 668px #fff,
        1160px 346px #fff,
        74px 1960px #fff,
        754px 1267px #fff,
        1375px 14px #fff,
        116px 1960px #fff,
        253px 1358px #fff,
        1564px 1452px #fff,
        1743px 1724px #fff,
        407px 1289px #fff,
        1656px 501px #fff,
        192px 569px #fff,
        1512px 124px #fff,
        1608px 1305px #fff,
        1958px 841px #fff,
        1526px 649px #fff,
        1426px 1274px #fff,
        219px 1588px #fff,
        1820px 1910px #fff,
        67px 1195px #fff,
        678px 932px #fff,
        1181px 297px #fff,
        676px 1156px #fff,
        1543px 1219px #fff,
        298px 1210px #fff,
        1196px 859px #fff,
        533px 1188px #fff,
        541px 1229px #fff,
        998px 1977px #fff,
        366px 1935px #fff,
        122px 963px #fff,
        1539px 578px #fff,
        218px 350px #fff,
        274px 1853px #fff,
        1137px 1991px #fff,
        1295px 1301px #fff,
        1977px 1478px #fff,
        1585px 1771px #fff,
        1818px 1371px #fff,
        1738px 1061px #fff,
        1351px 480px #fff,
        1190px 50px #fff,
        1611px 1397px #fff,
        845px 973px #fff,
        324px 719px #fff,
        1848px 733px #fff,
        349px 655px #fff,
        831px 390px #fff,
        1241px 966px #fff,
        712px 1716px #fff,
        1934px 1522px #fff,
        2px 146px #fff,
        1841px 1250px #fff,
        1283px 1440px #fff,
        1904px 403px #fff,
        1751px 25px #fff,
        1053px 804px #fff,
        1062px 993px #fff,
        1538px 360px #fff,
        1659px 1954px #fff,
        213px 599px #fff,
        1348px 258px #fff,
        1616px 1517px #fff,
        1337px 167px #fff,
        1301px 1095px #fff,
        352px 743px #fff,
        386px 713px #fff,
        1425px 768px #fff,
        1646px 132px #fff,
        661px 167px #fff,
        223px 1788px #fff,
        213px 1935px #fff,
        731px 996px #fff,
        1003px 737px #fff,
        290px 1878px #fff,
        1662px 548px #fff,
        544px 1432px #fff,
        1520px 1639px #fff,
        606px 1551px #fff,
        404px 1018px #fff,
        942px 179px #fff,
        521px 171px #fff,
        157px 370px #fff,
        1585px 1191px #fff,
        784px 1990px #fff,
        1869px 951px #fff,
        610px 1026px #fff,
        922px 725px #fff,
        1714px 1291px #fff,
        1610px 298px #fff,
        1316px 1px #fff,
        1921px 708px #fff,
        980px 1518px #fff,
        1536px 300px #fff,
        404px 893px #fff,
        1138px 1962px #fff,
        266px 849px #fff,
        163px 1844px #fff,
        672px 1649px #fff,
        153px 1199px #fff,
        1481px 1746px #fff,
        340px 782px #fff,
        1095px 26px #fff,
        1611px 1925px #fff,
        25px 419px #fff,
        379px 1738px #fff,
        197px 95px #fff,
        1165px 1483px #fff,
        758px 190px #fff,
        1906px 802px #fff,
        1461px 1687px #fff,
        1082px 562px #fff,
        1460px 661px #fff,
        240px 247px #fff,
        599px 1608px #fff,
        279px 1311px #fff,
        1939px 1924px #fff,
        198px 784px #fff,
        966px 77px #fff,
        1979px 619px #fff,
        1371px 1607px #fff,
        148px 326px #fff,
        1585px 1664px #fff,
        243px 724px #fff,
        1844px 484px #fff,
        867px 45px #fff,
        993px 864px #fff,
        1512px 526px #fff,
        1538px 641px #fff,
        1783px 1492px #fff,
        342px 1580px #fff,
        1072px 616px #fff,
        1383px 929px #fff,
        732px 1565px #fff,
        1022px 368px #fff,
        39px 23px #fff,
        389px 797px #fff,
        178px 1149px #fff,
        1303px 13px #fff,
        1024px 1807px #fff,
        1841px 1808px #fff,
        1382px 1829px #fff,
        977px 1214px #fff,
        1948px 997px #fff,
        1862px 923px #fff,
        1013px 1256px #fff,
        619px 1932px #fff,
        412px 1371px #fff,
        1800px 1700px #fff,
        1418px 118px #fff,
        59px 865px #fff,
        1253px 1067px #fff,
        1986px 287px #fff,
        868px 1868px #fff,
        130px 1817px #fff,
        1634px 1300px #fff,
        1499px 234px #fff,
        1481px 36px #fff,
        1889px 643px #fff,
        1911px 1139px #fff,
        1014px 798px #fff,
        1035px 1278px #fff,
        434px 398px #fff,
        1656px 1220px #fff,
        39px 719px #fff,
        775px 1108px #fff,
        813px 326px #fff,
        367px 1693px #fff,
        254px 72px #fff,
        1974px 1232px #fff,
        834px 472px #fff,
        1576px 867px #fff,
        1785px 216px #fff,
        525px 1176px #fff,
        792px 1527px #fff,
        1718px 1462px #fff,
        269px 374px #fff,
        1439px 10px #fff,
        805px 299px #fff,
        663px 49px #fff,
        1709px 1488px #fff,
        310px 765px #fff,
        657px 1642px #fff,
        1376px 692px #fff,
        1399px 496px #fff,
        391px 285px #fff,
        1253px 770px #fff,
        1276px 733px #fff,
        846px 1258px #fff,
        557px 7px #fff,
        1174px 1394px #fff,
        171px 636px #fff,
        264px 143px #fff,
        459px 1931px #fff,
        1262px 1895px #fff,
        724px 1393px #fff,
        158px 999px #fff,
        730px 638px #fff,
        100px 1733px #fff,
        909px 903px #fff,
        524px 756px #fff,
        562px 1597px #fff,
        748px 1224px #fff,
        541px 1235px #fff,
        500px 726px #fff,
        1623px 758px #fff,
        5px 781px #fff,
        935px 960px #fff,
        1555px 28px #fff,
        1740px 1262px #fff,
        1344px 1825px #fff,
        1668px 760px #fff,
        212px 907px #fff,
        1194px 106px #fff,
        1997px 194px #fff,
        1081px 532px #fff,
        966px 377px #fff,
        1371px 555px #fff,
        268px 796px #fff,
        375px 861px #fff,
        751px 653px #fff,
        266px 828px #fff,
        407px 1379px #fff,
        1479px 106px #fff,
        378px 98px #fff,
        880px 499px #fff,
        381px 566px #fff,
        1387px 1818px #fff,
        1223px 352px #fff,
        137px 1131px #fff,
        66px 924px #fff,
        488px 1758px #fff,
        1812px 269px #fff,
        1707px 89px #fff,
        191px 1984px #fff,
        1914px 1801px #fff,
        737px 308px #fff,
        1905px 1457px #fff,
        1440px 1492px #fff,
        373px 1573px #fff,
        1043px 1831px #fff,
        865px 1596px #fff,
        1052px 104px #fff,
        1924px 991px #fff,
        171px 1361px #fff,
        1571px 731px #fff,
        799px 1232px #fff,
        962px 864px #fff,
        1159px 115px #fff,
        1012px 1144px #fff,
        1661px 1007px #fff,
        1174px 476px #fff,
        724px 1908px #fff,
        606px 433px #fff,
        701px 1101px #fff,
        591px 353px #fff,
        284px 903px #fff,
        1502px 1348px #fff,
        1915px 230px #fff,
        1352px 1577px #fff,
        1950px 886px #fff,
        587px 1372px #fff,
        1463px 1138px #fff,
        1309px 1335px #fff,
        459px 201px #fff,
        1286px 1579px #fff,
        870px 1195px #fff,
        278px 491px #fff,
        699px 1196px #fff,
        1209px 1576px #fff,
        923px 1847px #fff,
        123px 740px #fff,
        217px 1108px #fff,
        1286px 926px #fff,
        868px 617px #fff,
        650px 380px #fff,
        1816px 360px #fff,
        1475px 1114px #fff,
        1034px 585px #fff,
        1688px 905px #fff,
        935px 542px #fff,
        230px 1078px #fff,
        1416px 1986px #fff,
        25px 1790px #fff,
        45px 670px #fff,
        868px 786px #fff,
        274px 1416px #fff,
        1150px 18px #fff,
        1825px 682px #fff,
        1670px 476px #fff,
        1154px 1445px #fff;
}
